/node_modules
/dist
/coverage

.env
.env.*

.github

.git
.gitignore

Dockerfile
docker-compose.yaml
.dockerignore

/.vscode
/.idea

logs
*.log

test
*.spec.ts

.DS_Store

/.docker

deploy.sh

README.md
